Crime and weather

In [42]:
import pandas as pd
import numpy as np
import pickle
import matplotlib.pyplot as plt

First I will read in both datasets as pandas dataframes

In [43]:
crimeDF= pd.read_csv("crime.csv", encoding='windows-1254')
weatherDF = pd.read_csv("weather_data_long.csv")

Quick look at the head of both dataframes to get a better idea of what I am working with

In [44]:
display(weatherDF)

,Date,Time,Temperature,DewPoint,Humidity,Wind,WinSpeed,WindGust,Pressure,Precip.,Condition
0,2002-01-01,12:53 AM,19,13,77,ENE,14,0,24.73,0.0,Cloudy
1,2002-01-02,12:53 AM,10,-3,56,SE,5,0,24.94,0.0,Mostly Cloudy
2,2002-01-04,12:53 AM,30,14,51,W,9,0,24.45,0.0,Partly Cloudy
3,2002-01-05,12:53 AM,25,18,75,CALM,0,0,24.74,0.0,Mostly Cloudy
4,2002-01-06,12:53 AM,23,9,55,SSE,13,0,24.74,0.0,Mostly Cloudy
...,...,...,...,...,...,...,...,...,...,...,...
145228,2020-10-20,7:53 PM,48,32,54,E,6,0,24.64,0.0,Mostly Cloudy
145229,2020-10-20,8:53 PM,45,31,58,SE,8,0,24.65,0.0,Mostly Cloudy
145230,2020-10-20,9:53 PM,41,29,62,SSE,10,0,24.65,0.0,Partly Cloudy
145231,2020-10-20,10:53 PM,40,29,65,SSE,12,0,24.65,0.0,Fair
145232,2020-10-20,11:53 PM,39,28,65,SSE,10,0,24.64,0.0,Fair

In [45]:
display(crimeDF)

,incident_id,offense_id,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,FIRST_OCCURRENCE_DATE,LAST_OCCURRENCE_DATE,REPORTED_DATE,INCIDENT_ADDRESS,GEO_X,GEO_Y,GEO_LON,GEO_LAT,DISTRICT_ID,PRECINCT_ID,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC,VICTIM_COUNT
0,2017421909,2017421909299900,2999,0,criminal-mischief-other,public-disorder,6/25/2017 8:40:00 PM,NaN,6/27/2017 7:01:00 PM,2920 W 32ND AVE,3133773.0,1702660.0,-105.024167,39.761646,1,113,highland,1,0,1
1,2017342682,2017342682299900,2999,0,criminal-mischief-other,public-disorder,5/26/2017 7:00:00 PM,NaN,5/26/2017 11:04:00 PM,13400 E ALBROOK DR,3185904.0,1709037.0,-104.838576,39.778256,5,521,montbello,1,0,1
2,2017421829,2017421829299900,2999,0,criminal-mischief-other,public-disorder,6/27/2017 4:40:00 PM,NaN,6/27/2017 5:50:00 PM,1600 BLOCK 16TH ST,3140436.0,1699005.0,-105.000538,39.751514,6,612,union-station,1,0,1
3,2017342681,2017342681299900,2999,0,criminal-mischief-other,public-disorder,5/26/2017 7:01:00 PM,NaN,5/26/2017 10:21:00 PM,2200 BLOCK MARKET ST,3143338.0,1700561.0,-104.990186,39.755741,6,612,five-points,1,0,1
4,2017448789,2017448789299900,2999,0,criminal-mischief-other,public-disorder,7/7/2017 9:48:00 PM,NaN,7/7/2017 9:48:00 PM,1733 N GROVE ST,3132994.0,1696487.0,-105.027052,39.744711,1,121,west-colfax,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397584,2022495758,2022495758280400,2804,0,outside-steal-recovered-veh,all-other-crimes,9/25/2022 2:24:00 PM,NaN,9/25/2022 3:07:00 PM,10700 E DARTMOUTH AVE,3179637.0,1665333.0,-104.861964,39.658404,3,323,kennedy,1,0,1
397585,2022494930,2022494930131506,1315,6,agg-aslt-shoot,aggravated-assault,9/25/2022 12:48:00 AM,NaN,9/25/2022 6:23:00 AM,1600 BLK PARK AVE,3148514.0,1695659.0,-104.971878,39.742203,6,622,city-park-west,1,0,1
397586,2022493303,2022493303131506,1315,6,agg-aslt-shoot,aggravated-assault,9/24/2022 2:30:00 AM,9/24/2022 3:00:00 AM,9/24/2022 4:31:00 AM,4500 BLK E 9TH AVE,3159180.0,1692123.0,-104.934029,39.732320,2,222,hale,1,0,1
397587,2022495516,2022495516131506,1315,6,agg-aslt-shoot,aggravated-assault,9/23/2022 12:00:00 AM,9/24/2022 1:00:00 AM,9/25/2022 12:32:00 PM,3500 WALNUT ST,3147584.0,1704943.0,-104.974995,39.767704,2,211,five-points,1,0,1
397588,2022493019,2022493019131506,1315,6,agg-aslt-shoot,aggravated-assault,9/23/2022 11:55:00 PM,NaN,9/24/2022 1:07:00 AM,1500 BLK N BROADWAY ST,3144340.0,1695281.0,-104.986728,39.741231,6,621,north-capitol-hill,1,0,2

In [46]:

weatherDF.head()

,Date,Time,Temperature,DewPoint,Humidity,Wind,WinSpeed,WindGust,Pressure,Precip.,Condition
0,2002-01-01,12:53 AM,19,13,77,ENE,14,0,24.73,0.0,Cloudy
1,2002-01-02,12:53 AM,10,-3,56,SE,5,0,24.94,0.0,Mostly Cloudy
2,2002-01-04,12:53 AM,30,14,51,W,9,0,24.45,0.0,Partly Cloudy
3,2002-01-05,12:53 AM,25,18,75,CALM,0,0,24.74,0.0,Mostly Cloudy
4,2002-01-06,12:53 AM,23,9,55,SSE,13,0,24.74,0.0,Mostly Cloudy

In [47]:
crimeDF.head()

,incident_id,offense_id,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,FIRST_OCCURRENCE_DATE,LAST_OCCURRENCE_DATE,REPORTED_DATE,INCIDENT_ADDRESS,GEO_X,GEO_Y,GEO_LON,GEO_LAT,DISTRICT_ID,PRECINCT_ID,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC,VICTIM_COUNT
0,2017421909,2017421909299900,2999,0,criminal-mischief-other,public-disorder,6/25/2017 8:40:00 PM,NaN,6/27/2017 7:01:00 PM,2920 W 32ND AVE,3133773.0,1702660.0,-105.024167,39.761646,1,113,highland,1,0,1
1,2017342682,2017342682299900,2999,0,criminal-mischief-other,public-disorder,5/26/2017 7:00:00 PM,NaN,5/26/2017 11:04:00 PM,13400 E ALBROOK DR,3185904.0,1709037.0,-104.838576,39.778256,5,521,montbello,1,0,1
2,2017421829,2017421829299900,2999,0,criminal-mischief-other,public-disorder,6/27/2017 4:40:00 PM,NaN,6/27/2017 5:50:00 PM,1600 BLOCK 16TH ST,3140436.0,1699005.0,-105.000538,39.751514,6,612,union-station,1,0,1
3,2017342681,2017342681299900,2999,0,criminal-mischief-other,public-disorder,5/26/2017 7:01:00 PM,NaN,5/26/2017 10:21:00 PM,2200 BLOCK MARKET ST,3143338.0,1700561.0,-104.990186,39.755741,6,612,five-points,1,0,1
4,2017448789,2017448789299900,2999,0,criminal-mischief-other,public-disorder,7/7/2017 9:48:00 PM,NaN,7/7/2017 9:48:00 PM,1733 N GROVE ST,3132994.0,1696487.0,-105.027052,39.744711,1,121,west-colfax,1,0,1

In [48]:
del weatherDF['Time']

In [49]:
crimeDF["OCCURRENCE_DATE"] = pd.to_datetime(crimeDF["FIRST_OCCURRENCE_DATE"]).dt.date
crimeDF.rename(columns={'OCCURRENCE_DATE':'Date'},inplace =True)

In [50]:
crimeDF['Date']= pd.to_datetime(crimeDF['Date'])
weatherDF['Date']= pd.to_datetime(weatherDF['Date'])

In [51]:
weatherDF= weatherDF.groupby(['Date']).mean()
display(weatherDF)

,Temperature,DewPoint,Humidity,WinSpeed,WindGust,Pressure,Precip.
Date,,,,,,,
2002-01-01,18.916667,14.750000,84.333333,6.583333,0.000000,24.842083,0.0
2002-01-02,18.166667,3.333333,58.125000,7.666667,0.000000,24.807500,0.0
2002-01-04,30.666667,22.083333,71.333333,10.125000,1.083333,24.593750,0.0
2002-01-05,29.625000,11.958333,52.041667,8.000000,0.000000,24.725417,0.0
2002-01-06,29.666667,15.291667,57.333333,9.833333,0.000000,24.780833,0.0
...,...,...,...,...,...,...,...
2020-10-11,59.250000,22.916667,26.666667,17.166667,14.333333,24.436667,0.0
2020-10-12,57.208333,17.000000,24.875000,13.208333,7.250000,24.607083,0.0
2020-10-13,63.500000,18.125000,18.916667,11.291667,5.916667,24.651250,0.0
2020-10-18,38.695652,31.217391,76.000000,9.956522,0.000000,24.617826,0.0
2020-10-20,51.166667,27.750000,43.708333,9.041667,1.166667,24.542500,0.0

In [52]:
mergeOnDate = pd.merge(crimeDF, weatherDF, how='outer',on='Date')
display(mergeOnDate)

,incident_id,offense_id,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,FIRST_OCCURRENCE_DATE,LAST_OCCURRENCE_DATE,REPORTED_DATE,INCIDENT_ADDRESS,...,IS_TRAFFIC,VICTIM_COUNT,Date,Temperature,DewPoint,Humidity,WinSpeed,WindGust,Pressure,Precip.
0,2.017422e+09,2.017422e+15,2999.0,0.0,criminal-mischief-other,public-disorder,6/25/2017 8:40:00 PM,NaN,6/27/2017 7:01:00 PM,2920 W 32ND AVE,...,0.0,1.0,2017-06-25,60.875000,49.625000,67.791667,9.333333,1.458333,24.832500,0.0
1,2.017415e+09,2.017415e+15,2999.0,0.0,criminal-mischief-other,public-disorder,6/25/2017 5:45:00 AM,NaN,6/25/2017 6:53:00 AM,2645 W GUNNISON DR,...,0.0,1.0,2017-06-25,60.875000,49.625000,67.791667,9.333333,1.458333,24.832500,0.0
2,2.017416e+09,2.017416e+15,2999.0,0.0,criminal-mischief-other,public-disorder,6/25/2017 12:35:00 PM,NaN,6/25/2017 1:28:00 PM,1295 N YORK ST,...,0.0,1.0,2017-06-25,60.875000,49.625000,67.791667,9.333333,1.458333,24.832500,0.0
3,2.017417e+09,2.017417e+15,2999.0,0.0,criminal-mischief-other,public-disorder,6/25/2017 10:30:00 PM,NaN,6/25/2017 10:40:00 PM,2951 N OLIVE ST,...,0.0,1.0,2017-06-25,60.875000,49.625000,67.791667,9.333333,1.458333,24.832500,0.0
4,2.017417e+09,2.017417e+15,2999.0,0.0,criminal-mischief-other,public-disorder,6/25/2017 11:40:00 PM,NaN,6/26/2017 2:15:00 AM,5255 N MEMPHIS ST,...,0.0,1.0,2017-06-25,60.875000,49.625000,67.791667,9.333333,1.458333,24.832500,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
402364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2016-12-27,35.083333,14.708333,47.416667,8.625000,2.000000,24.559167,0.0
402365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2016-12-29,30.458333,17.208333,59.625000,9.916667,0.000000,24.821667,0.0
402366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2016-12-30,47.916667,7.041667,20.833333,12.916667,5.833333,24.427917,0.0
402367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2016-12-31,26.833333,17.500000,70.541667,7.250000,0.000000,24.365833,0.0
402368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2017-01-01,30.916667,16.041667,57.083333,8.583333,0.000000,24.217500,0.0

In [53]:
mergeOnDate=mergeOnDate.dropna(subset=['OFFENSE_TYPE_ID'])
mergeOnDate=mergeOnDate.dropna(subset=['Temperature'])
display(mergeOnDate)

,incident_id,offense_id,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,FIRST_OCCURRENCE_DATE,LAST_OCCURRENCE_DATE,REPORTED_DATE,INCIDENT_ADDRESS,...,IS_TRAFFIC,VICTIM_COUNT,Date,Temperature,DewPoint,Humidity,WinSpeed,WindGust,Pressure,Precip.
0,2.017422e+09,2.017422e+15,2999.0,0.0,criminal-mischief-other,public-disorder,6/25/2017 8:40:00 PM,NaN,6/27/2017 7:01:00 PM,2920 W 32ND AVE,...,0.0,1.0,2017-06-25,60.875000,49.625000,67.791667,9.333333,1.458333,24.832500,0.0
1,2.017415e+09,2.017415e+15,2999.0,0.0,criminal-mischief-other,public-disorder,6/25/2017 5:45:00 AM,NaN,6/25/2017 6:53:00 AM,2645 W GUNNISON DR,...,0.0,1.0,2017-06-25,60.875000,49.625000,67.791667,9.333333,1.458333,24.832500,0.0
2,2.017416e+09,2.017416e+15,2999.0,0.0,criminal-mischief-other,public-disorder,6/25/2017 12:35:00 PM,NaN,6/25/2017 1:28:00 PM,1295 N YORK ST,...,0.0,1.0,2017-06-25,60.875000,49.625000,67.791667,9.333333,1.458333,24.832500,0.0
3,2.017417e+09,2.017417e+15,2999.0,0.0,criminal-mischief-other,public-disorder,6/25/2017 10:30:00 PM,NaN,6/25/2017 10:40:00 PM,2951 N OLIVE ST,...,0.0,1.0,2017-06-25,60.875000,49.625000,67.791667,9.333333,1.458333,24.832500,0.0
4,2.017417e+09,2.017417e+15,2999.0,0.0,criminal-mischief-other,public-disorder,6/25/2017 11:40:00 PM,NaN,6/26/2017 2:15:00 AM,5255 N MEMPHIS ST,...,0.0,1.0,2017-06-25,60.875000,49.625000,67.791667,9.333333,1.458333,24.832500,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379047,2.019377e+08,2.019377e+14,2609.0,0.0,fraud-by-use-of-computer,white-collar-crime,1/14/2019 12:01:00 AM,1/15/2019 12:00:00 PM,1/17/2019 10:12:00 AM,554 S CLARKSON ST,...,0.0,1.0,2019-01-14,29.291667,12.833333,52.666667,11.791667,0.000000,24.706667,0.0
379048,2.019202e+09,2.019202e+15,2609.0,0.0,fraud-by-use-of-computer,white-collar-crime,1/14/2019 12:00:00 AM,NaN,4/1/2019 11:56:00 AM,1264 N ELM ST,...,0.0,1.0,2019-01-14,29.291667,12.833333,52.666667,11.791667,0.000000,24.706667,0.0
379049,2.019304e+09,2.019304e+15,2699.0,5.0,pawn-broker-viol,all-other-crimes,1/14/2019 12:00:00 PM,1/17/2019 12:00:00 PM,5/15/2019 7:47:00 PM,4810 N VASQUEZ BLVD,...,0.0,1.0,2019-01-14,29.291667,12.833333,52.666667,11.791667,0.000000,24.706667,0.0
379050,2.019299e+08,2.019299e+14,2804.0,0.0,outside-steal-recovered-veh,all-other-crimes,1/14/2019 9:30:00 AM,NaN,1/14/2019 10:00:00 AM,3300 BLK N DECATUR ST,...,0.0,1.0,2019-01-14,29.291667,12.833333,52.666667,11.791667,0.000000,24.706667,0.0
379051,2.019313e+08,2.019313e+14,2804.0,0.0,outside-steal-recovered-veh,all-other-crimes,1/14/2019 7:19:00 PM,NaN,1/14/2019 8:16:00 PM,105 N KNOX CT,...,0.0,1.0,2019-01-14,29.291667,12.833333,52.666667,11.791667,0.000000,24.706667,0.0

In [54]:
mergeOnDate['Temperature'] =mergeOnDate['Temperature'].astype('int')
display(mergeOnDate)

,incident_id,offense_id,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,FIRST_OCCURRENCE_DATE,LAST_OCCURRENCE_DATE,REPORTED_DATE,INCIDENT_ADDRESS,...,IS_TRAFFIC,VICTIM_COUNT,Date,Temperature,DewPoint,Humidity,WinSpeed,WindGust,Pressure,Precip.
0,2.017422e+09,2.017422e+15,2999.0,0.0,criminal-mischief-other,public-disorder,6/25/2017 8:40:00 PM,NaN,6/27/2017 7:01:00 PM,2920 W 32ND AVE,...,0.0,1.0,2017-06-25,60,49.625000,67.791667,9.333333,1.458333,24.832500,0.0
1,2.017415e+09,2.017415e+15,2999.0,0.0,criminal-mischief-other,public-disorder,6/25/2017 5:45:00 AM,NaN,6/25/2017 6:53:00 AM,2645 W GUNNISON DR,...,0.0,1.0,2017-06-25,60,49.625000,67.791667,9.333333,1.458333,24.832500,0.0
2,2.017416e+09,2.017416e+15,2999.0,0.0,criminal-mischief-other,public-disorder,6/25/2017 12:35:00 PM,NaN,6/25/2017 1:28:00 PM,1295 N YORK ST,...,0.0,1.0,2017-06-25,60,49.625000,67.791667,9.333333,1.458333,24.832500,0.0
3,2.017417e+09,2.017417e+15,2999.0,0.0,criminal-mischief-other,public-disorder,6/25/2017 10:30:00 PM,NaN,6/25/2017 10:40:00 PM,2951 N OLIVE ST,...,0.0,1.0,2017-06-25,60,49.625000,67.791667,9.333333,1.458333,24.832500,0.0
4,2.017417e+09,2.017417e+15,2999.0,0.0,criminal-mischief-other,public-disorder,6/25/2017 11:40:00 PM,NaN,6/26/2017 2:15:00 AM,5255 N MEMPHIS ST,...,0.0,1.0,2017-06-25,60,49.625000,67.791667,9.333333,1.458333,24.832500,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379047,2.019377e+08,2.019377e+14,2609.0,0.0,fraud-by-use-of-computer,white-collar-crime,1/14/2019 12:01:00 AM,1/15/2019 12:00:00 PM,1/17/2019 10:12:00 AM,554 S CLARKSON ST,...,0.0,1.0,2019-01-14,29,12.833333,52.666667,11.791667,0.000000,24.706667,0.0
379048,2.019202e+09,2.019202e+15,2609.0,0.0,fraud-by-use-of-computer,white-collar-crime,1/14/2019 12:00:00 AM,NaN,4/1/2019 11:56:00 AM,1264 N ELM ST,...,0.0,1.0,2019-01-14,29,12.833333,52.666667,11.791667,0.000000,24.706667,0.0
379049,2.019304e+09,2.019304e+15,2699.0,5.0,pawn-broker-viol,all-other-crimes,1/14/2019 12:00:00 PM,1/17/2019 12:00:00 PM,5/15/2019 7:47:00 PM,4810 N VASQUEZ BLVD,...,0.0,1.0,2019-01-14,29,12.833333,52.666667,11.791667,0.000000,24.706667,0.0
379050,2.019299e+08,2.019299e+14,2804.0,0.0,outside-steal-recovered-veh,all-other-crimes,1/14/2019 9:30:00 AM,NaN,1/14/2019 10:00:00 AM,3300 BLK N DECATUR ST,...,0.0,1.0,2019-01-14,29,12.833333,52.666667,11.791667,0.000000,24.706667,0.0
379051,2.019313e+08,2.019313e+14,2804.0,0.0,outside-steal-recovered-veh,all-other-crimes,1/14/2019 7:19:00 PM,NaN,1/14/2019 8:16:00 PM,105 N KNOX CT,...,0.0,1.0,2019-01-14,29,12.833333,52.666667,11.791667,0.000000,24.706667,0.0

In [55]:
hotDays = mergeOnDate[mergeOnDate['Temperature'] > 75]
mildDays = mergeOnDate[(mergeOnDate['Temperature'] >= 45) & (mergeOnDate['Temperature'] <= 75)]
coldDays = mergeOnDate[mergeOnDate['Temperature'] < 45]

numofweathercrimes = len(mergeOnDate.index)
print(numofweathercrimes)

228089

In [56]:
display(hotDays)

,incident_id,offense_id,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,FIRST_OCCURRENCE_DATE,LAST_OCCURRENCE_DATE,REPORTED_DATE,INCIDENT_ADDRESS,...,IS_TRAFFIC,VICTIM_COUNT,Date,Temperature,DewPoint,Humidity,WinSpeed,WindGust,Pressure,Precip.
347,2.017422e+09,2.017422e+15,2999.0,0.0,criminal-mischief-other,public-disorder,6/27/2017 4:40:00 PM,NaN,6/27/2017 5:50:00 PM,1600 BLOCK 16TH ST,...,0.0,1.0,2017-06-27,77,38.625000,30.958333,8.791667,3.125000,24.490000,0.0
348,2.017422e+09,2.017422e+15,2999.0,0.0,criminal-mischief-other,public-disorder,6/27/2017 8:45:00 PM,6/27/2017 8:52:00 PM,6/27/2017 8:52:00 PM,1200 S MONACO ST,...,0.0,1.0,2017-06-27,77,38.625000,30.958333,8.791667,3.125000,24.490000,0.0
349,2.017422e+09,2.017422e+15,2999.0,0.0,criminal-mischief-other,public-disorder,6/27/2017 9:09:00 PM,NaN,6/27/2017 9:09:00 PM,757 E 20TH AVE,...,0.0,1.0,2017-06-27,77,38.625000,30.958333,8.791667,3.125000,24.490000,0.0
350,2.017421e+09,2.017421e+15,2999.0,0.0,criminal-mischief-other,public-disorder,6/27/2017 12:00:00 AM,6/27/2017 8:21:00 AM,6/27/2017 8:53:00 AM,100 S FRANKLIN ST,...,0.0,1.0,2017-06-27,77,38.625000,30.958333,8.791667,3.125000,24.490000,0.0
351,2.017426e+09,2.017426e+15,2999.0,0.0,criminal-mischief-other,public-disorder,6/27/2017 6:00:00 PM,6/28/2017 8:00:00 AM,6/29/2017 9:18:00 AM,2101 MARKET ST,...,0.0,1.0,2017-06-27,77,38.625000,30.958333,8.791667,3.125000,24.490000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377513,2.018447e+09,2.018447e+15,2605.0,0.0,theft-unauth-use-of-ftd,white-collar-crime,7/2/2018 3:00:00 AM,NaN,7/3/2018 7:09:00 PM,5500 E COLFAX AVE,...,0.0,1.0,2018-07-02,78,39.083333,29.208333,10.583333,8.916667,24.589167,0.0
377514,2.018456e+09,2.018456e+15,2609.0,0.0,fraud-by-use-of-computer,white-collar-crime,7/2/2018 8:00:00 AM,7/4/2018 6:00:00 PM,7/6/2018 7:50:00 PM,1011 S VALENTIA ST,...,0.0,1.0,2018-07-02,78,39.083333,29.208333,10.583333,8.916667,24.589167,0.0
377515,2.018455e+09,2.018455e+15,2609.0,0.0,fraud-by-use-of-computer,white-collar-crime,7/2/2018 11:00:00 AM,NaN,7/6/2018 10:20:00 AM,4208 N PERRY ST,...,0.0,1.0,2018-07-02,78,39.083333,29.208333,10.583333,8.916667,24.589167,0.0
377516,2.018510e+09,2.018510e+15,2609.0,0.0,fraud-by-use-of-computer,white-collar-crime,7/2/2018 12:00:00 AM,7/3/2018 11:59:00 PM,7/27/2018 5:17:00 PM,7901 E BELLEVIEW AVE,...,0.0,1.0,2018-07-02,78,39.083333,29.208333,10.583333,8.916667,24.589167,0.0
377517,2.018444e+09,2.018444e+15,2804.0,0.0,outside-steal-recovered-veh,all-other-crimes,7/2/2018 2:20:00 PM,NaN,7/2/2018 6:17:00 PM,E 7TH AVE / N QUEBEC ST,...,0.0,1.0,2018-07-02,78,39.083333,29.208333,10.583333,8.916667,24.589167,0.0

In [57]:
display(mildDays)

,incident_id,offense_id,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,FIRST_OCCURRENCE_DATE,LAST_OCCURRENCE_DATE,REPORTED_DATE,INCIDENT_ADDRESS,...,IS_TRAFFIC,VICTIM_COUNT,Date,Temperature,DewPoint,Humidity,WinSpeed,WindGust,Pressure,Precip.
0,2.017422e+09,2.017422e+15,2999.0,0.0,criminal-mischief-other,public-disorder,6/25/2017 8:40:00 PM,NaN,6/27/2017 7:01:00 PM,2920 W 32ND AVE,...,0.0,1.0,2017-06-25,60,49.625,67.791667,9.333333,1.458333,24.83250,0.0
1,2.017415e+09,2.017415e+15,2999.0,0.0,criminal-mischief-other,public-disorder,6/25/2017 5:45:00 AM,NaN,6/25/2017 6:53:00 AM,2645 W GUNNISON DR,...,0.0,1.0,2017-06-25,60,49.625,67.791667,9.333333,1.458333,24.83250,0.0
2,2.017416e+09,2.017416e+15,2999.0,0.0,criminal-mischief-other,public-disorder,6/25/2017 12:35:00 PM,NaN,6/25/2017 1:28:00 PM,1295 N YORK ST,...,0.0,1.0,2017-06-25,60,49.625,67.791667,9.333333,1.458333,24.83250,0.0
3,2.017417e+09,2.017417e+15,2999.0,0.0,criminal-mischief-other,public-disorder,6/25/2017 10:30:00 PM,NaN,6/25/2017 10:40:00 PM,2951 N OLIVE ST,...,0.0,1.0,2017-06-25,60,49.625,67.791667,9.333333,1.458333,24.83250,0.0
4,2.017417e+09,2.017417e+15,2999.0,0.0,criminal-mischief-other,public-disorder,6/25/2017 11:40:00 PM,NaN,6/26/2017 2:15:00 AM,5255 N MEMPHIS ST,...,0.0,1.0,2017-06-25,60,49.625,67.791667,9.333333,1.458333,24.83250,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377019,2.018236e+09,2.018236e+15,2404.0,0.0,theft-of-motor-vehicle,auto-theft,4/8/2018 11:15:00 PM,NaN,4/9/2018 11:33:00 AM,3700 BLK N WHEELING ST,...,0.0,1.0,2018-04-08,54,27.625,38.958333,15.458333,14.083333,24.33375,0.0
377020,2.018235e+09,2.018235e+15,2404.0,0.0,theft-of-motor-vehicle,auto-theft,4/8/2018 7:30:00 PM,4/9/2018 6:50:00 AM,4/9/2018 9:17:00 AM,1500 BLOCK E BRUCE RANDOLPH AVE,...,0.0,1.0,2018-04-08,54,27.625,38.958333,15.458333,14.083333,24.33375,0.0
377021,2.018234e+09,2.018234e+15,2589.0,1.0,drug-forgery-to-obtain,white-collar-crime,4/8/2018 4:00:00 PM,NaN,4/8/2018 5:25:00 PM,890 S MONACO ST,...,0.0,1.0,2018-04-08,54,27.625,38.958333,15.458333,14.083333,24.33375,0.0
377022,2.018248e+09,2.018248e+15,2589.0,1.0,drug-forgery-to-obtain,white-collar-crime,4/8/2018 2:52:00 PM,NaN,4/13/2018 6:45:00 PM,7930 E NORTHFIELD BLVD,...,0.0,1.0,2018-04-08,54,27.625,38.958333,15.458333,14.083333,24.33375,0.0
377023,2.018233e+09,2.018233e+15,2804.0,0.0,outside-steal-recovered-veh,all-other-crimes,4/8/2018 9:00:00 AM,NaN,4/8/2018 12:33:00 PM,2200 BLOCK CHAMPA ST,...,0.0,1.0,2018-04-08,54,27.625,38.958333,15.458333,14.083333,24.33375,0.0

In [58]:
display(coldDays)

,incident_id,offense_id,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,FIRST_OCCURRENCE_DATE,LAST_OCCURRENCE_DATE,REPORTED_DATE,INCIDENT_ADDRESS,...,IS_TRAFFIC,VICTIM_COUNT,Date,Temperature,DewPoint,Humidity,WinSpeed,WindGust,Pressure,Precip.
2034,2.017211e+09,2.017211e+15,2999.0,0.0,criminal-mischief-other,public-disorder,4/1/2017 4:20:00 AM,4/1/2017 4:25:00 AM,4/1/2017 4:38:00 AM,401 S MEADE ST,...,0.0,1.0,2017-04-01,35,32.833333,89.833333,6.291667,0.0,24.635000,0.0
2035,2.017215e+09,2.017215e+15,2999.0,0.0,criminal-mischief-other,public-disorder,4/1/2017 9:00:00 PM,4/2/2017 7:57:00 PM,4/2/2017 7:57:00 PM,2479 W 41ST AVE,...,0.0,1.0,2017-04-01,35,32.833333,89.833333,6.291667,0.0,24.635000,0.0
2036,2.017211e+09,2.017211e+15,2999.0,0.0,criminal-mischief-other,public-disorder,4/1/2017 2:24:00 AM,NaN,4/1/2017 3:44:00 AM,1100 BLK PARK AVEW,...,0.0,1.0,2017-04-01,35,32.833333,89.833333,6.291667,0.0,24.635000,0.0
2037,2.017214e+09,2.017214e+15,2999.0,0.0,criminal-mischief-other,public-disorder,4/1/2017 11:00:00 AM,4/2/2017 4:50:00 PM,4/2/2017 5:51:00 PM,3000 W YALE AVE,...,0.0,1.0,2017-04-01,35,32.833333,89.833333,6.291667,0.0,24.635000,0.0
2038,2.017212e+09,2.017212e+15,2999.0,0.0,criminal-mischief-other,public-disorder,4/1/2017 6:05:00 PM,NaN,4/1/2017 7:02:00 PM,1800 BLOCK BLAKE ST,...,0.0,1.0,2017-04-01,35,32.833333,89.833333,6.291667,0.0,24.635000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379047,2.019377e+08,2.019377e+14,2609.0,0.0,fraud-by-use-of-computer,white-collar-crime,1/14/2019 12:01:00 AM,1/15/2019 12:00:00 PM,1/17/2019 10:12:00 AM,554 S CLARKSON ST,...,0.0,1.0,2019-01-14,29,12.833333,52.666667,11.791667,0.0,24.706667,0.0
379048,2.019202e+09,2.019202e+15,2609.0,0.0,fraud-by-use-of-computer,white-collar-crime,1/14/2019 12:00:00 AM,NaN,4/1/2019 11:56:00 AM,1264 N ELM ST,...,0.0,1.0,2019-01-14,29,12.833333,52.666667,11.791667,0.0,24.706667,0.0
379049,2.019304e+09,2.019304e+15,2699.0,5.0,pawn-broker-viol,all-other-crimes,1/14/2019 12:00:00 PM,1/17/2019 12:00:00 PM,5/15/2019 7:47:00 PM,4810 N VASQUEZ BLVD,...,0.0,1.0,2019-01-14,29,12.833333,52.666667,11.791667,0.0,24.706667,0.0
379050,2.019299e+08,2.019299e+14,2804.0,0.0,outside-steal-recovered-veh,all-other-crimes,1/14/2019 9:30:00 AM,NaN,1/14/2019 10:00:00 AM,3300 BLK N DECATUR ST,...,0.0,1.0,2019-01-14,29,12.833333,52.666667,11.791667,0.0,24.706667,0.0
379051,2.019313e+08,2.019313e+14,2804.0,0.0,outside-steal-recovered-veh,all-other-crimes,1/14/2019 7:19:00 PM,NaN,1/14/2019 8:16:00 PM,105 N KNOX CT,...,0.0,1.0,2019-01-14,29,12.833333,52.666667,11.791667,0.0,24.706667,0.0


Data prep for Denver weather

In [59]:
del weatherDF["WinSpeed"]
del weatherDF["Pressure"]
del weatherDF["Humidity"]
del weatherDF["Wind"]

KeyError: 'Wind'

In [ ]:
del weatherDF["DewPoint"]
del weatherDF["WindGust"]
del weatherDF["Precip."]
del weatherDF["Condition"]

In [ ]:
weatherDF.isna().sum()

Date           0
Temperature    0
dtype: int64

In [ ]:
plt.scatter(weatherDF["Date"], weatherDF["Temperature"])
plt.title("Temperature vs Date")
plt.xlabel("Date")
plt.ylabel("Temp (F)")
plt.show()

In [ ]:
avgtemp = weatherDF.groupby([weatherDF['Date']]).mean()
avgtemp.plot()

Clean up and prep of Denver Crime

break down occurrence and report date into datetime objects

Now I am going to drop the columns that I do not need/columns that are incomplete: incidentID,offenseID, offense code, offense code extension, first occurrence date, last occurrence date, reported date, victim count as well as  geo x, geo y, geo lon, geo lat

In [ ]:
del crimeDF["incident_id"]
del crimeDF["offense_id"]
del crimeDF["OFFENSE_CODE"]
del crimeDF["OFFENSE_CODE_EXTENSION"]
del crimeDF["FIRST_OCCURRENCE_DATE"]
del crimeDF["LAST_OCCURRENCE_DATE"]
del crimeDF["REPORTED_DATE"]
del crimeDF["VICTIM_COUNT"]
del crimeDF["GEO_X"]
del crimeDF["GEO_Y"]
del crimeDF["GEO_LON"]
del crimeDF["GEO_LAT"]
del crimeDF["DISTRICT_ID"]
del crimeDF["PRECINCT_ID"]
del crimeDF["NEIGHBORHOOD_ID"]
del crimeDF["IS_CRIME"]
del crimeDF["IS_TRAFFIC"]

In [ ]:
del crimeDF["INCIDENT_ADDRESS"]

In [ ]:
crimeDF["Month"] = pd.DatetimeIndex(crimeDF["OCCURRENCE_DATE"]).month
crimeDF["Year"] = pd.DatetimeIndex(crimeDF["OCCURRENCE_DATE"]).year
crimeDF["Day"] = pd.DatetimeIndex(crimeDF["OCCURRENCE_DATE"]).day

In [ ]:
print(crimeDF.head())
print(crimeDF.dtypes)

           OFFENSE_TYPE_ID OFFENSE_CATEGORY_ID       Date
0  criminal-mischief-other     public-disorder 2017-06-25
1  criminal-mischief-other     public-disorder 2017-05-26
2  criminal-mischief-other     public-disorder 2017-06-27
3  criminal-mischief-other     public-disorder 2017-05-26
4  criminal-mischief-other     public-disorder 2017-07-07
OFFENSE_TYPE_ID                object
OFFENSE_CATEGORY_ID            object
Date                   datetime64[ns]
dtype: object

In [ ]:
print(weatherDF.head())
print(weatherDF.dtypes)

        Date  Temperature
0 2002-01-01           19
1 2002-01-02           10
2 2002-01-04           30
3 2002-01-05           25
4 2002-01-06           23
Date           datetime64[ns]
Temperature             int64
dtype: object

In [ ]:
mergeOnDate = pd.merge(crimeDF, weatherDF, how='inner',on='Date')
display(mergeOnDate)

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,Date,Temperature
0,criminal-mischief-other,public-disorder,2017-06-25,56
1,criminal-mischief-other,public-disorder,2017-06-25,53
2,criminal-mischief-other,public-disorder,2017-06-25,49
3,criminal-mischief-other,public-disorder,2017-06-25,51
4,criminal-mischief-other,public-disorder,2017-06-25,51
...,...,...,...,...
5477847,outside-steal-recovered-veh,all-other-crimes,2019-01-14,29
5477848,outside-steal-recovered-veh,all-other-crimes,2019-01-14,27
5477849,outside-steal-recovered-veh,all-other-crimes,2019-01-14,29
5477850,outside-steal-recovered-veh,all-other-crimes,2019-01-14,28
5477851,outside-steal-recovered-veh,all-other-crimes,2019-01-14,26

In [ ]:
mergeOnDate=mergeOnDate.dropna(subset=['OFFENSE_TYPE_ID'])
mergeOnDate=mergeOnDate.dropna(subset=['Temperature'])
display(mergeOnDate)

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,Date,Temperature
0,criminal-mischief-other,public-disorder,2017-06-25,56
1,criminal-mischief-other,public-disorder,2017-06-25,53
2,criminal-mischief-other,public-disorder,2017-06-25,49
3,criminal-mischief-other,public-disorder,2017-06-25,51
4,criminal-mischief-other,public-disorder,2017-06-25,51
...,...,...,...,...
5477847,outside-steal-recovered-veh,all-other-crimes,2019-01-14,29
5477848,outside-steal-recovered-veh,all-other-crimes,2019-01-14,27
5477849,outside-steal-recovered-veh,all-other-crimes,2019-01-14,29
5477850,outside-steal-recovered-veh,all-other-crimes,2019-01-14,28
5477851,outside-steal-recovered-veh,all-other-crimes,2019-01-14,26

Exploratory analysis

Count the amount of occurrences by offense type ID

In [ ]:
# print(crimeDF["OFFENSE_TYPE_ID"].value_counts())
offenseType =(crimeDF["OFFENSE_TYPE_ID"].value_counts())
print(offenseType)
crimeDF.shape
ax = offenseType.plot(title="Count distribution of offense type ID")
ax.set_xlabel("Crime type")
ax.set_ylabel("Number of Occurrences")


# print(crimeDF["OFFENSE_CATEGORY_ID"].value_counts())
# print(crimeDF["DISTRICT_ID"].value_counts())
# print(crimeDF["PRECINCT_ID"].value_counts())
# print(crimeDF["NEIGHBORHOOD_ID"].value_counts())
# print(crimeDF["IS_CRIME"].value_counts())
# print(crimeDF["IS_TRAFFIC"].value_counts())

In [ ]:
res = crimeDF[~crimeDF['OFFENSE_TYPE_ID'].isin(offenseType[offenseType < 5000].index)]

# print(res)
ax = (res["OFFENSE_TYPE_ID"].value_counts()).plot(title="Count distribution of offense type ID")
ax.set_xlabel("Crime type")
ax.set_ylabel("Number of Occurrences")
plt.xticks(rotation=90)
plt.show()

In [ ]:
ax2 =(res["OFFENSE_TYPE_ID"].value_counts()).plot.kde(title="Density plot of Offense Type ID")

group by type: within type
offense category id

In [ ]:
offenseCategory =(crimeDF["OFFENSE_CATEGORY_ID"].value_counts())
print("Offense Types in Denver and Occurrence count")
print(offenseCategory)

In [ ]:
offenseCategory.plot.kde()

In [ ]:
ax = offenseCategory.plot(title="Crime Type vs Number of Occurrences")
plt.xticks(rotation=90)
ax.set_xlabel("Crime type")
ax.set_ylabel("Number of Occurrences")

plt.show()

In [ ]:

ax = crimeDF.groupby("Month").size().plot(kind = "bar", title= "Total crime events by month")
ax.set_ylabel("Number of Occurrences")
plt.xticks(rotation=0)
plt.show()

In [ ]:
ax = crimeDF.groupby("Year").size().plot(kind = "bar", title= "Total crime events by Year")
ax.set_ylabel("Number of Occurrences")
plt.xticks(rotation=0)
plt.show()

Merging data on date of occurrence from crime and date from weather

weatherDF['Date']= pd.to_datetime()

In [ ]:
weatherDF["Month"] = pd.DatetimeIndex(weatherDF["Date"]).month
weatherDF["Year"] = pd.DatetimeIndex(weatherDF["Date"]).year
weatherDF["Day"] = pd.DatetimeIndex(weatherDF["Date"]).day
# weatherDF['Date']= pd.to_datetime()
weatherDF.head()

In [ ]:
print(weatherDF.dtypes)

In [ ]:

print(crimeDF.dtypes)

In [ ]:
crimeDF= crimeDF.dropna()
crimeDF.isna().sum()

In [ ]:
weatherDF= weatherDF.dropna()
weatherDF.isna().sum()

In [ ]:
crimeDF.rename(columns={'OCCURRENCE_DATE':'Date'},inplace =True)

In [ ]:
print(crimeDF.dtypes)
# print(weatherDF.dtypes)

In [ ]:
display(crimeDF)

In [ ]:
display(weatherDF)

In [ ]:
weatherDF.info()

In [ ]:
crimeDF['Date']= pd.to_datetime(crimeDF['Date'])
weatherDF['Date']= pd.to_datetime(weatherDF['Date'])

In [ ]:
crimeDF.info()

In [ ]:
# weatherDF=weatherDF[~(weatherDF["Year"]<2017)]
# crimeDF= crimeDF[~(crimeDF["Year"]>2020)]

In [ ]:
mergeOnDate = pd.merge(crimeDF, weatherDF, how='outer',on='Date')

In [ ]:
mergeOnDate=mergeOnDate.dropna(subset=['OFFENSE_TYPE_ID'])
mergeOnDate=mergeOnDate.dropna(subset=['Temperature'])
display(mergeOnDate)

In [ ]:
print(weatherDF.shape)
weatherdf= weatherDF.groupby(["Year","Month","Day"]).mean()
print(weatherdf.head())
print(weatherdf.shape)

In [ ]:

crimedf=crimeDF.groupby(["Year","Month", "Day","OFFENSE_CATEGORY_ID","OFFENSE_TYPE_ID"]).size()
# crimedf.rename(index={'OCCURRENCE_DATE':"Date"}, inplace=True)

crimedf.head()
# print(crimedf.shape)

In [ ]:
# crimeDF.shape
# crimeDF.info()
crimeDF.head()

Group rows together by date, the offense category and the offense type

In [ ]:
crimedf.describe()

Works Cited:
https://medium.com/analytics-vidhya/how-to-pd-merge-two-data-frames-on-a-common-date-column-e7808d7ccaee 
https://towardsdatascience.com/analysis-of-nyc-reported-crime-data-using-pandas-821753cd7e22

crimeDF